.message-item {
  min-height: 120px;
  list-style: none;
  margin-bottom: 20px;
}

.message-avatar {
  float: left;
  min-width: 100px;
  min-height: 100px;
}

.message-content {
  margin-left: 120px;
}

.message-email {
  display: none;
  float: right;
}

.message-item:hover .message-email {
  display: initial;
}
